.row {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.cell {
    flex: 1 1 0;
    min-width: 0;
    max-width: 250px;
    height: 150px;
    max-height: 150px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.note {
    width: 95%;
    height: 90%;
    background: #2d3748;
    border: 2px solid #2d3748;
    border-radius: 8px;
    color:#f9fafb;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.note.selected {
    background: #3b82f6;
    border: 2px solid #234885;
}

 .cell-selected{
    background: #234885;
    transition: 0.7s;
 }