body{
    background-color: #1e1e2f;
}

.windowreg{
    box-sizing: border-box;
    border: 3px solid rgba(255, 255, 255, 0.219);
    background-color: #1f2937;
    padding: 4%;
    display: flex;
    justify-self: center;
    border-radius: 10px;
    width: 50%;
    height: 60%;
    margin-top: 5%;
}

.login{
  
}

/*.register{
 display: none !important;
}